# Project Title
## Data Engineering Capstone Project

### Project Summary
The purpose of this project is to create an ETL pipeline that wrangles data on immigration, demographics and environmental factors (specifically temperature), in order to be able to glean insights about what factors may make certain US destination popular for international visits. Example questions that business users may want answered include:
* Is there a correlation between a visitor's home temperature and the temperature of their chosen destination?
* Do people from certain countries prefer destination cities where certain ethnicities are better represented?
* Are particular destinations more popular with holders of visas of a certain type?

We'll be using Spark to process the data.

The project is broken down into 5 steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Clean Up the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [27]:
# Let's get ready by importing the libraries and tools we'll be using...

import pandas as pd
import helpers
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, upper, first
from pyspark.sql.types import StringType

# ...and initializing our SparkSession

spark = SparkSession.builder.\
config("spark.jars.repositories", "https://repos.spark-packages.org/").\
config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
enableHiveSupport().getOrCreate()

## Step 1: Scoping the Project and Gathering Data

### Scope 
We have various data on immigration, travel, temperature and demographics, from various sources. The business need is to be able to query the data to see what factors may affect immigration or US travel destination choices. More specifically, the goal is to create a set of relational tables against which we can run queries to look for patterns between chosen immigration or travel destination, and demographic and environmental factors.

To accomplish this, Spark will be used, as it is well suited to process large amounts of data across multiple servers. If we wanted to take the project further, we could migrate the output data into a suitable RDBMS, like Redshift, and we could automate the pipleline with Airflow; this, however, is outside the scope of this particular project. The primary goal and scope of the task here is to explore the data, model it and load it into relational tables suitable for analytic querying.


### Describing and Gathering the Data 
The source data are the following:

* _I94 Immigration Data_: This data comes from the [US National Tourism and Trade Office](https://www.trade.gov/i-94-arrivals-program). It consists of the 2016 I-94 visitor arrivals data, providing information on arrivals for US visitors who stay 1 night or more. The link to the original dataset is defunct, but a copy of the data was captured and provided by Udacity.
* _World Temperature Data_: [This dataset](https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data) was sourced from Kaggle. It consists of a table of global land temperatures by city and by month, from approximately 1750.
* _U.S. City Demographic Data_: [This data](https://public.opendatasoft.com/explore/dataset/us-cities-demographics/export/) comes from OpenSoft. The data is compiled from the US Census Bureau's 2015 American Community Survey. It contains demographic information for all US cities that have a population of 65,000 or more. 
* _Airport Code Table_: [This](https://datahub.io/core/airport-codes#data) is a table of airport codes and corresponding cities.

To create the relational tables that will allows us to explore demographic and environmental correlations, we will only need data from the first three sets. We will not be using the _Airport Code Table_ dataset.

## Step 2: Exploring and Cleaning Up the Data
Let's identify data quality issues, like missing values, duplicate data, etc.

Some of this data was explored "offline", so to speak; information was gathered by visiting the original sources for the datasets or via supplemental contextual information. The i94 dataset, particularly, benefited from this; the definitions of the columns was understood primarily through looking at the `I94_SAS_Labels_Descriptions.SAS` file located in the same directory as this README file.

### Exploration
#### Immigration Data

In [28]:
# Read in the i94 data
i94_df = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [ ]:
# Get a preview
i94_df.limit(5).toPandas()

In [ ]:
# Show the total of null or NaN values per column
helpers.show_total_missing_values(i94_df)

#### Demographic Data

In [50]:
# Read in the demographic data
demog_df = spark.read.csv('us-cities-demographics.csv', inferSchema=True, header=True, sep=';')

In [ ]:
# Get a preview
demog_df.limit(5).toPandas()

In [ ]:
# Show the total of null or NaN values per column
helpers.show_total_missing_values(demog_df)

#### Temperature Data

In [51]:
# Read in the temperature data
temp_df = spark.read.csv('../../data2/GlobalLandTemperaturesByCity.csv', header=True, inferSchema=True)

In [ ]:
# Get a preview
temp_df.limit(5).toPandas()

In [ ]:
# Show the total of null or NaN values per column, but first we cast the datetime column to string
temp_df_string = temp_df.withColumn("dt",col("dt").cast(StringType()))
helpers.show_total_missing_values(temp_df_string)

### Clean Up

#### Immigration Data
If we look again at the table of total missing values per column in the _Exploration_ section, we can see that three columns have a total of more than 85% missing values: `occup`, `entdepu`, and `insnum`. These can be dropped.

Taking this a step further, as we'll see shortly in our data model, there are only 11 columns we're interested in keeping. Let's select these to make the dataframe easier to work with and more legible to display. While we're at it, let's rename those columns and drop duplicates.

In [29]:
i94_df = i94_df.select(col('cicid').alias('id'),
                             col('i94cit').alias('citizenship_country'),
                             col('i94res').alias('residence_country'),
                             col('i94port').alias('port_of_entry'),
                             col('i94addr').alias('destination_state'),
                             col('arrdate').alias('arrival_date'),
                             col('depdate').alias('departure_date'),
                             col('i94bir').alias('age'),
                             col('i94visa').alias('visa_type'),
                             col('dtaddto').alias('admitted_until'),
                             col('gender').alias('gender')
                            ).dropDuplicates().cache()

We'll also convert the SAS dates in `arrdate` and `depdate`, and the string date in `dtaddto`, to PySpark dates.

In [30]:
i94_df = i94_df.withColumn('arrival_date', helpers.convert_sas_date_to_datetime(i94_df.arrival_date)).cache()
i94_df = i94_df.withColumn('departure_date', helpers.convert_sas_date_to_datetime(i94_df.departure_date)).cache()
i94_df = i94_df.withColumn('admitted_until', to_date(col('admitted_until'),'MMddyyyy')).cache()

In [ ]:
i94_df.limit(5).toPandas()

We can see that the fields `citizenship_country`, `residence_country`, and `state_of_arrival` are referenced by codes. These need to be cross-referenced with a list of codes that is currently only available in .SAS file. We'll update these values with their full names.

We also have the `port_of_entry` field in the i94 table, which we can decompose into port city, port state, and port country. Doing this will later on allow us to add the port code to the temperature and demographic tables, which will allow us to keep our fact table simple, as a single field (`port_of_entry`) will be able to link three dimension tables together. 

All of this will serve to:
1. make the values in our tables more meaningful, and
2. make it easier to join tables when querying by reducing the number of joins and tables involved.

In [31]:
# Read our i94 fields and values legend 
with open('I94_SAS_Labels_Descriptions.SAS') as f:
    i94_desc = f.readlines()

In [32]:
# get country names by code
country_codes = {}
for countries in i94_desc[10:298]:
    pair = countries.split('=')
    code, country = pair[0].strip(), pair[1].strip().strip("'")
    country_codes[code] = country

In [33]:
origin_countries_df = spark.createDataFrame(list(country_codes.items()), ['code', 'country'])

In [34]:
origin_countries_df.show(5)

+----+-----------+
|code|    country|
+----+-----------+
| 236|AFGHANISTAN|
| 101|    ALBANIA|
| 316|    ALGERIA|
| 102|    ANDORRA|
| 324|     ANGOLA|
+----+-----------+
only showing top 5 rows

In [35]:
# get city names and state abbreviations by numerical codes
port_cities = {}
port_states = {}
broken_fields = {}
for cities in i94_desc[303:893]:   
    pair = cities.split('=')
    code, location = pair[0].strip("\t").strip().strip("'"), pair[1].strip('\t').strip()
    city_and_state = location.split(',')
    if len(city_and_state) == 2:
        city, state = city_and_state[0].strip().strip("'"), city_and_state[1].strip().strip("'").strip()
        port_cities[code] = city
        port_states[code] = state

In [36]:
port_cities_df = spark.createDataFrame(list(port_cities.items()), ['code', 'city'])

In [37]:
port_cities_df.show(5)

+----+--------------------+
|code|                city|
+----+--------------------+
| ANC|           ANCHORAGE|
| BAR|BAKER AAF - BAKER...|
| DAC|       DALTONS CACHE|
| PIZ|DEW STATION PT LA...|
| DTH|        DUTCH HARBOR|
+----+--------------------+
only showing top 5 rows

In [38]:
# get state names by state abbreviation
state_abbrs = {}
for states in i94_desc[982:1035]:   
    pair = states.split('=')
    abbr, state = pair[0].strip("\t").strip().strip("'"), pair[1].strip('\t').strip().strip("'")
    if 'N.' in state:
        state = state.replace('N.','NORTH')
    if 'S.' in state:
        state = state.replace('S.','SOUTH')
    if 'W.' in state:
        state = state.replace('W.','WEST')
    if 'DIST.' in state:
        state = state.replace('DIST.','DISTRICT')
    state_abbrs[abbr] = state

In [39]:
port_countries = {}
for code in port_states: 
    if port_states[code] in state_abbrs:
        port_states[code] = state_abbrs[port_states[code]]
        port_countries[code] = 'UNITED STATES'
    else:
        port_countries[code] = port_states[code]
        port_states[code] = None

In [40]:
state_abbrs_df = spark.createDataFrame(list(state_abbrs.items()), ['abbr','state'])
port_states_df = spark.createDataFrame(list(port_states.items()), ['code','state'])
port_countries_df = spark.createDataFrame(list(port_countries.items()), ['code','country'])

In [41]:
state_abbrs_df.show(5)

+----+----------+
|abbr|     state|
+----+----------+
|  AK|    ALASKA|
|  AZ|   ARIZONA|
|  AR|  ARKANSAS|
|  CA|CALIFORNIA|
|  CO|  COLORADO|
+----+----------+
only showing top 5 rows

In [42]:
port_states_df.show(5)

+----+------+
|code| state|
+----+------+
| ANC|ALASKA|
| BAR|ALASKA|
| DAC|ALASKA|
| PIZ|ALASKA|
| DTH|ALASKA|
+----+------+
only showing top 5 rows

In [43]:
port_countries_df.show(5)

+----+-------------+
|code|      country|
+----+-------------+
| ANC|UNITED STATES|
| BAR|UNITED STATES|
| DAC|UNITED STATES|
| PIZ|UNITED STATES|
| DTH|UNITED STATES|
+----+-------------+
only showing top 5 rows

In [44]:
# create views from the dictionary dataframes we just created, 
# so we can use sql to add meaningful port city, state and country values to our i94 table
i94_df.createOrReplaceTempView('i94_view')
origin_countries_df.createOrReplaceTempView('origin_countries_view')
state_abbrs_df.createOrReplaceTempView('state_abbrs_view')
port_cities_df.createOrReplaceTempView('port_cities_view')
port_states_df.createOrReplaceTempView('port_states_view')
port_countries_df.createOrReplaceTempView('port_countries_view')

In [45]:
# clean up our i94 table by converting codes to human-readable values
i94_clean_df = spark.sql("""
    SELECT 
        i94.id AS immigration_id,
        i94.age AS age,
        i94.gender AS gender,
        c_cit.country AS citizenship_country,
        c_res.country AS residence_country,
        i94.arrival_date AS arrival_date,
        i94.departure_date AS departure_date,
        i94.visa_type AS visa_type,
        i94.admitted_until AS admitted_until,
        i94.port_of_entry AS port_of_entry,
        p_cit.city AS port_city,
        ps.state AS port_state,
        p_country.country AS port_country,
        sa.state AS destination_state
    FROM i94_view i94
    
    -- retrieve the country names of the code values in i94.citizenship_country
    LEFT JOIN origin_countries_view c_cit
    ON i94.citizenship_country = c_cit.code
    
    -- retrieve the country names of the code values in i94.residence_country
    LEFT JOIN origin_countries_view c_res
    ON i94.residence_country = c_res.code
    
    -- retrieve the city names of the code values in i94.port_of_entry
    LEFT JOIN port_cities_view p_cit
    ON i94.port_of_entry = p_cit.code
    
    -- retrieve the state names of the code values in i94.port_of_entry, if applicable
    LEFT JOIN port_states_view ps
    ON i94.port_of_entry = ps.code
    
    -- retrieve the country names of the code values in i94.port_of_entry
    LEFT JOIN port_countries_view p_country
    ON i94.port_of_entry = p_country.code
    
    -- retrieve the full state names of the state abbreviations in i94.destination_state
    LEFT JOIN state_abbrs_view sa
    ON i94.destination_state = sa.abbr
""")

In [46]:
i94_clean_df.show(5)

+---------+------------+--------------+----+---------+--------------+------+-------------------+-----------------+-------------+----------------+----------+-------------+-----------------+
|       id|arrival_date|departure_date| age|visa_type|admitted_until|gender|citizenship_country|residence_country|port_of_entry|       port_city|port_state| port_country|destination_state|
+---------+------------+--------------+----+---------+--------------+------+-------------------+-----------------+-------------+----------------+----------+-------------+-----------------+
|4651287.0|  2016-04-24|    2016-04-29|45.0|      2.0|    2016-10-24|     F|               null|             null|          NEW|NEWARK/TETERBORO|NEW JERSEY|UNITED STATES|             null|
|2014736.0|  2016-04-11|    2016-04-15|38.0|      2.0|    2016-07-09|  null|               null|          GERMANY|          HOU|         HOUSTON|     TEXAS|UNITED STATES|             null|
|2093085.0|  2016-04-11|    2016-04-15|46.0|      1.0|    2016-10-11|     M|               null|             null|          HOU|         HOUSTON|     TEXAS|UNITED STATES|             null|
| 998502.0|  2016-04-06|    2016-04-10|32.0|      2.0|    2016-07-04|     M|              SPAIN|            SPAIN|          HOU|         HOUSTON|     TEXAS|UNITED STATES|             null|
|1373083.0|  2016-04-08|    2016-04-09|22.0|      1.0|    2016-10-07|  null|     UNITED KINGDOM|   UNITED KINGDOM|          ATL|         ATLANTA|   GEORGIA|UNITED STATES|             null|
+---------+------------+--------------+----+---------+--------------+------+-------------------+-----------------+-------------+----------------+----------+-------------+-----------------+
only showing top 5 rows

In [47]:
# check the distribution of our destination_state values. Make sure we didn't accidentally end up with all nulls (for example)
i94_clean_df.groupBy('destination_state').count().show(100)

+--------------------+------+
|   destination_state| count|
+--------------------+------+
|          NEW JERSEY| 76531|
|        PENNSYLVANIA| 30293|
|            ILLINOIS| 82126|
|DISTRICT OF COLUMBIA| 28228|
|            MARYLAND| 25360|
|       WEST VIRGINIA|   808|
|               IDAHO|  1752|
|            MISSOURI|  8484|
|             MONTANA|  1339|
|            MICHIGAN| 32101|
|             FLORIDA|621701|
|                null|187354|
|              OREGON| 12574|
|        SOUTH DAKOTA|   557|
|           LOUISIANA| 22655|
|              ALASKA|  1604|
|         PUERTO RICO|  9474|
|      VIRGIN ISLANDS|   226|
|               MAINE|  2361|
|       NEW HAMPSHIRE|  2817|
|            OKLAHOMA|  3239|
|            VIRGINIA| 31399|
|          WASHINGTON| 55792|
|      NORTH CAROLINA| 23375|
|             WYOMING|   460|
|               TEXAS|134321|
|            NEBRASKA| 26574|
|           MINNESOTA| 11194|
|              HAWAII|168764|
|                GUAM| 94107|
|        RHODE ISLAND|  3289|
|         MISSISSIPPI|  1771|
|           TENNESSEE| 12105|
|           WISCONSON|  7860|
|            COLORADO| 15874|
|              NEVADA|114609|
|             VERMONT|  1477|
|          NEW MEXICO|  1994|
|            NEW YORK|553677|
|                UTAH|  7551|
|          CALIFORNIA|470386|
|                IOWA|  3391|
|              KANSAS|  3224|
|             ARIZONA| 20218|
|            KENTUCKY|  5790|
|                OHIO| 18089|
|       MASSACHUSETTS| 70486|
|      SOUTH CAROLINA|  9811|
|            DELAWARE|  3111|
|         CONNECTICUT| 13991|
|        NORTH DAKOTA|  1225|
|            ARKANSAS|  2873|
|             INDIANA| 11278|
|             GEORGIA| 44663|
+--------------------+------+

In [49]:
# check the distribution of port_state values. Make sure we didn't accidentally end up with all nulls (for example)
i94_clean_df.groupBy('port_city').count().show(100)

+--------------------+------+
|           port_city| count|
+--------------------+------+
|              PIEGAN|   140|
|         ANDREWS AFB|     4|
|           ANZALDUAS|   677|
|      FALCON HEIGHTS|     4|
|             ORLANDO|149195|
|            SAVANNAH|    29|
|         TROUT RIVER|    10|
|        PEACE BRIDGE|  4035|
|        INDIANAPOLIS|   426|
|            PROGRESO|    18|
|          SAN YSIDRO|  2874|
|             ATLANTA| 92579|
|            MANASSAS|     2|
|     RIO GRANDE CITY|     1|
|               MIAMI|343941|
|LAREDO COLUMBIA B...|    72|
|              HANNAH|     1|
|             MEMPHIS|    41|
|              NOONAN|     2|
|              BLAINE| 11087|
|                RENO|     1|
|              MOBILE|     3|
|             OAKLAND|  3501|
|       ST PETERSBURG|   762|
|             FORTUNA|     6|
|          GREENVILLE|    10|
|            PORTLAND|  5108|
|         BEEBE PLAIN|     3|
|           NIGHTHAWK|     1|
|           VANCOUVER| 12706|
|              YSLETA|   344|
|MOSES LAKE GRANT ...|     3|
|        KEAHOLE-KONA|  4042|
|           VANCEBORO|     3|
|      PORT CANAVERAL|     1|
|          FORT MYERS| 17514|
|              SAIPAN| 23628|
|             DEL RIO|    51|
|           ANCHORAGE|    91|
|              DENVER| 18260|
|       CHRISTIANSTED|   198|
|        NORTH CAICOS|  5197|
|         COBURN GORE|    37|
|             HOULTON|   198|
|STEWART - ORANGE ...|     9|
|HANSCOM FIELD - B...|    51|
|              LAREDO|   355|
|               MINOT|     1|
|             PHOENIX| 38890|
|              BANGOR|   128|
|   ST AUGUSTINE ARPT|     2|
|           BALTIMORE|  3476|
|    NEWARK/TETERBORO|136122|
| VETERAN INTL BRIDGE|    79|
|                null|101182|
|       POINT ROBERTS|   123|
|             TORONTO| 20886|
|           LUKEVILLE|    89|
|     PORT EVERGLADES|  1083|
|WILLOW RUN - YPSI...|     1|
|             HOUSTON|101481|
|           ANACORTES|     1|
|               FARGO|     5|
|               LIHUE|  2292|
|        JACKSONVILLE|    31|
|           ROCHESTER|    85|
|             MCALLEN|   512|
|             DOUGLAS|    64|
|              TUCSON|   219|
|                ROMA|    12|
|              TURNER|     6|
|          LONG BEACH|   884|
|             SANFORD| 10159|
|      PASO DEL NORTE|   232|
|       BEECHER FALLS|     7|
|          HAKAI PASS|   772|
|  BRIDGE OF AMERICAS|   328|
|               PHARR|   228|
|       EAST RICHFORD|     1|
|            HANSBORO|     8|
|CANNON INTL - REN...|   255|
|           SANTA ANA|  1625|
|           MILWAUKEE|   248|
|           LANCASTER|    10|
|          CHATEAUGAY|     6|
|     FORT LAUDERDALE| 95977|
|              ROSEAU|    14|
|          MORRISTOWN|    20|
|          SACRAMENTO|  2201|
|            SAN LUIS|    36|
|              AUSTIN|  3034|
|       GRAND PORTAGE|    51|
|         MORSES LINE|    14|
|            VICTORIA|   626|
|     ST LUCIE COUNTY|    25|
|             SHANNON|  3007|
|           NASHVILLE|   943|
|    HIGHGATE SPRINGS|  1594|
|BRADLEY INTERNATI...|    14|
|          BELLINGHAM|     4|
+--------------------+------+
only showing top 100 rows

#### Demographic Data
We'll start by renaming the columns and uppercasing the city and state names, to have consistent data formatting across our different datasets.

In [52]:
demog_df = demog_df.select(upper(col('City')).alias('city'),
                             upper(col('State')).alias('state'),
                             col('Median Age').alias('median_age'),
                             col('Male Population').alias('male_population'),
                             col('Female Population').alias('female_population'),
                             col('Total Population').alias('total_population'),
                             col('Number of Veterans').alias('total_veterans'),
                             col('Foreign-born').alias('foreign_born'),
                             col('Average Household Size').alias('average_household_size'),
                             col('Race').alias('race'),
                             col('Count').alias('race_count')
                            ).dropDuplicates().cache()

In [ ]:
demog_df.show(5)

While we may want denormalized data in our fact and dimension tables, we want to make sure that the denormalizations make sense for our purposes. If we look closely, we can observe that the `Race` column in the demographic data has a small number of unnecessarily repeating values. Barring a few anomalies, each cityappears as five separate rows with the same data for every field, except for the `Race` column, and the `Count`, which refers to the total number of residents who identify with the associated race in a given row. 

To simplify our table and our querying, we can simply pivot the `Race` column, meaning that we would take its five possible values and make each of them a single column. The values in the `Count` column would become the values for the associated `Race` column.

In [53]:
# Turn the Race column into five distinct race columns
demog_df = demog_df.groupBy("city",
                            "state",
                            "median_age",
                            "male_population",
                            "female_population",
                            "total_population",
                            "total_veterans", 
                            "foreign_born", 
                            "average_household_size"
                           ).pivot("race").agg(first("race_count"))
demog_df.show(5)

+-----------+--------------+----------+---------------+-----------------+----------------+--------------+------------+----------------------+---------------------------------+-----+-------------------------+------------------+------+
|       city|         state|median_age|male_population|female_population|total_population|total_veterans|foreign_born|average_household_size|American Indian and Alaska Native|Asian|Black or African-American|Hispanic or Latino| White|
+-----------+--------------+----------+---------------+-----------------+----------------+--------------+------------+----------------------+---------------------------------+-----+-------------------------+------------------+------+
|   COLUMBIA|SOUTH CAROLINA|      28.0|          67686|            65707|          133393|          5708|        6074|                  2.32|                             1420| 3501|                    56398|              7545| 73232|
|BLOOMINGTON|     MINNESOTA|      40.9|          43318|            43118|           86436|          6176|       10728|                   2.3|                             1745| 4689|                     5828|              8021| 71874|
| UNION CITY|    NEW JERSEY|      35.4|          35376|            33773|           69149|           705|       40553|                  2.85|                              545| 4044|                     4686|             53174| 50031|
|    GARLAND|         TEXAS|      34.5|         116406|           120430|          236836|         10407|       62975|                  3.12|                             3083|27217|                    40507|             90989|154484|
| SAN ANGELO|         TEXAS|      32.8|          49669|            50744|          100413|          8412|        7859|                   2.5|                              548| 1658|                     6079|             42494| 86655|
+-----------+--------------+----------+---------------+-----------------+----------------+--------------+------------+----------------------+---------------------------------+-----+-------------------------+------------------+------+
only showing top 5 rows

In [54]:
# Tidy the ethnicity column names
demog_df = demog_df.select(col('city'),
                           col('state'),
                           col('median_age'),
                           col('male_population'),
                           col('female_population'),
                           col('total_population'),
                           col('total_veterans'),
                           col('foreign_born'),
                           col('average_household_size').alias('avg_household_size'),
                           col('American Indian and Alaska Native').alias('indigenous'),
                           col('Asian').alias('asian'),
                           col('Black or African-American').alias('black'),
                           col('Hispanic or Latino').alias('latinx'),
                           col('White').alias('white'),
                          ).dropDuplicates().cache()

In [55]:
demog_df.count()

596

In [56]:
demog_df.limit(5).toPandas()

,city,state,median_age,male_population,female_population,total_population,total_veterans,foreign_born,average_household_size,indigenous,asian,black,latinx,white
0,COLUMBIA,SOUTH CAROLINA,28.0,67686,65707,133393,5708,6074,2.32,1420,3501,56398,7545,73232
1,BLOOMINGTON,MINNESOTA,40.9,43318,43118,86436,6176,10728,2.30,1745,4689,5828,8021,71874
2,UNION CITY,NEW JERSEY,35.4,35376,33773,69149,705,40553,2.85,545,4044,4686,53174,50031
3,GARLAND,TEXAS,34.5,116406,120430,236836,10407,62975,3.12,3083,27217,40507,90989,154484
4,SAN ANGELO,TEXAS,32.8,49669,50744,100413,8412,7859,2.50,548,1658,6079,42494,86655

#### Temperature Data

We saw in our data exploration that there were rows with missing AverageTemperature. These rows will be useless for our purposes, so we will drop them.

In [57]:
temp_df=temp_df.filter(temp_df.AverageTemperature != 'NaN')

We will also see shortly in our data model that the columns `AverageTemperatureUncertainty`, `Latitude` and `Longitude` are not relevant to our inquiry, so we will drop them and take the opportunity to rename our remaining columns, as well as to upprecase the city and country values.

In [58]:
temp_df = temp_df.select(col('dt').alias('date'),
                             col('AverageTemperature').alias('avg_temperature'),
                             upper(col('City')).alias('city'),
                             upper(col('Country')).alias('country')
                            ).dropDuplicates().cache()

In [59]:
temp_df.limit(5).toPandas()

        date  average_temperature        city        country
0 1744-05-01               11.605     CHICAGO  UNITED STATES
1 1744-05-01               19.032  CHESAPEAKE  UNITED STATES
2 1744-06-01               14.051     AALBORG        DENMARK
3 1744-09-01               13.380  CHERNIVTSI        UKRAINE
4 1744-09-01               15.424   CLEVELAND  UNITED STATES

Additionally, our i94 dataset is specific to the year 2016. Our inquiry concerns itself with the factors that may have influenced visitors to choose the destinations they chose. The temperature dataset contains data from as far back as 1743. For our context, we will assume that people would not concern themselves with average temperatures more than 10 years old when choosing where to go in the short term. Hence, we will drop historical data from before 2006.

In [60]:
# Drop pre-2006 data, and make sure the date field doesn't get a midnight timestamp added (useless for our purposes)
temp_df = temp_df.filter(temp_df.date >= '2006-01-01').withColumn("date", to_date(col("date"), "yyyy-MM-dd"))
# temp_df.count()

In [61]:
temp_df.show(5)

+----------+-------------------+----------+-------------+
|      date|average_temperature|      city|      country|
+----------+-------------------+----------+-------------+
|2006-01-01|             -9.868| ASTRAKHAN|       RUSSIA|
|2006-01-01|             14.363|COSTA MESA|UNITED STATES|
|2006-01-01|             20.465| BALESHWAR|        INDIA|
|2006-01-01|             26.955|   BACOLOD|  PHILIPPINES|
|2006-02-01|            -15.714|   BAOSHAN|        CHINA|
+----------+-------------------+----------+-------------+
only showing top 5 rows

## Step 3: Define the Data Model
### 3.1 Conceptual Data Model
Data will be transferred into a star schema (one fact table where each dimension tables is referenced by a row; additional, derived information can also be added to the fact table). This schema design facilitates analytical querying, as it denormalizes data according to the particular aspects of the data we want to dig further into. In other words, it's optimized to minimize the number of JOINs required to query the data. 

#### Fact Table

**visits_fact** - immigration events
- visit_id, immigration_id, port_code, arrival_date, length_of_stay

#### Dimension Tables

**immigrations_dim** - users in the app
- immigration_id, age, gender, citizenship_country, residence_country, arrival_date, departure_date, visa_type, admitted_until, port_of_entry, port_city, port_state, port_country, destination_state

**demographics_dim** - songs in music database
- city_id, port_code, city, state, median_age, male_population, female_population, total_population, total_veterans, foreign_born, avg_household_size, indigenous, asian, black, latinx, white

**temperature_dim** - artists in music database
- temperature_id, port_code, date, avg_temperature, city, country

**date_dim** - dates of arrivals, departures, and permitted stays 
- date, day, week, month, year, weekday

![data model](./pipeline_star_schema.jpg "data model")

### 3.2 Mapping Out Data Pipelines
The steps necessary to pipeline the data into the above data model will be as follows:
1. Clean the i94, temperature and demographics datasets (already performed)
2. Create a date_dim dimension table based on the date values in the other tables, and extract the desired fields
3. Create temperature_dim dimension table: 
    1. Load the existing, cleaned up temperature table, adding a unique id column
    2. Add a port_code field based on the city value (correlated with country name, to disambiguate multiple cities with the same name)
4. Create a demographic_dim dimension table:
    1. Load the existing, cleaned up demographics table, adding a unique id column
    2. Add a port_code field based on the city value (correlated with state and country name, to disambiguate multiple cities with the same name)
5. Create the visits_fact table with a derived length_of_stay column, mapping immigration_id from immigrations_dim, a port_code that can be referenced in temperature_dim and demographics_dim, and the arrival_date associated with the immigration_id
6. Write these tables to parquet files that can later be queried

## Step 4: Run Pipelines to Model the Data 
### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

## Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.